</body>
<footer style="background-color:#011d32;padding-top:73px;margin:0;margin-top:85;padding-left:40px;margin-bottom:0px;">
    <div class="container">
        <div class="row" style="margin-right:14px;">
            <div class="col-md-4 col-sm-6 footer-navigation">
                <h3><a href="#">Unlock</a></h3>
                <p class="links"><a href="/fa17g01/">Home</a><strong> · </strong><a
                            href="/fa17g01/about/"> About < /a><strong> · </strong><a
                                href="/fa17g01/registration"> Sign up</a><strong> </strong></p>
                <p class="company-name">Unlock © 2017 </p>
            </div>
            <div class="col-md-4 col-sm-6 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">1600 Holloway Ave</span> San Franscisco, CA 94132</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> 123456789</p>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p style="color:rgb(255,255,255);"> Six students from San Francisco State University that gets together
                    to create a real estate website that provides houses. </p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                class="fa fa-twitter"> < /i></a><a href="#"><i class="fa fa-linkedin"></i></a><a
                            href="#"><i
                                class="fa fa-github"> < /i></a></div>
            </div>
        </div>
    </div>
</footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>