<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/dannyStyle.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean1.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/Pretty-Search-Form.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div>
        <div class="disclaimer" style="background-color:#f81717;height:24px;">
            <p class="text-center warning" style="margin-bottom:0px;color:rgb(255,255,255);margin-top:0px;padding-top:2px;">This is a Student project for SFSU CSC 648 section 2 - team 1</p>
        </div>
        <nav class="navbar navbar-default navigation-clean" style="background-color:#003459;height:73px;">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="/fa17g01/" style="color:#ffffff;font-family:Cookie, cursive;line-height:19px;font-size:33px;font-weight:normal;">Unlock  </a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li role="presentation"><a href="https://sfsuse.com/fa17g01/about/" class="active nav menu" style="color:#ffffff;">About us</a></li>
                        <li role="presentation"><a href="inbox.html" class="active nav menu" style="color:#ffffff;">Inbox </a></li>
                        <li role="presentation"><a href="login.html" class="active nav menu" style="color:#ffffff;">Log in</a></li>
                        <li role="presentation"><a href="registration.html" class="active nav menu" style="color:#ffffff;">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <div class="container" style="margin-bottom:-15px;margin-top:9px;margin-right:55px;"><a class="btn btn-info" role="button" href="/fa17g01/">Go back</a></div>
    </div>
    <div style="margin-top:35px;margin-bottom:35px;">
        <div class="container house details" style="padding:20;padding-right:0px;padding-top:21px;padding-bottom:21px;padding-left:9px;width:1018px;height:514px;">
            <div class="row" style="margin-right:-24px;margin-left:0px;">
                <div class="col-md-6">
                    <h1 style="font-size:32px;">$300,000 </h1>
                    <h3>1420 ohyea blvd, san mateo, CA 94536</h3>
                    <p>Be surprised by the sweeping view of San Francisco Bay.This home offers two view decks, remodeled kitchen, and a huge entertaining room downstairs, that can be converted to an Au Pair. Nestled in the beautiful Belmont hills, an amazing view of San Francisco
    Bay, that just takes your breath away. How would you like to come home, unwind on your view decks! Imagine being here in front of roaring fire overlooking the bay seeing the peaceful sunset and twinkling lights. Stunning Gourmet kitchen, so practically
    laid out, makes cooking a treat. You are in the heart of Silicon Valley with easy access to major highways, Crystal Spring Village, Water dog park, &amp; Top rated schools.
    <br><strong>Bedrooms</strong> 3
    <br><strong>Bathrooms</strong> 2 Shower and Tub
    <br><strong>Other Rooms</strong> No Family RoomDining, No Formal Dining Room
    <br><strong>Heating and Cooling</strong>Forced air
    <br><strong>Basement</strong>Unfinished basement
    <br><strong>Appliances</strong>Appliances included: Dishwasher, Refrigerator
    <br><strong>Flooring</strong>Floor size: 1,980 sqftFlooring: Carpet, Hardwood, Tile
    <br><strong>Other Interior Features</strong>FireplaceRoom count: 7; </p>
                </div>
                <div class="col-md-6"><img style="background-image:url(&quot;assets/img/house-modern-interior-design.jpg&quot;);background-size:cover;height:225px;width:457px;background-position:0% 35%;">
                    <div class="row" style="margin-right:0;margin-left:-12px;">
                        <div class="col-md-12" style="margin-bottom:10px;width:auto;height:auto;">
                            <iframe allowfullscreen="" frameborder="0" width="100%" height="400" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBPbfCf7NlfuG9RFTdme-KvLJr-6YR242Q&amp;q=&lt;%=belmont%&gt;,&lt;%=2401 carlmont drive%&gt;" class="map-screen"
                            style="margin-top: 20px;width:457px;height:225px;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-clean" style="padding-top:16px;padding-bottom:22px;background-color:#ffffff;">
        <form method="post" style="background-color:#ffffff;">
            <h2 class="text-center"> I like this house!</h2>
            <div class="form-group">
                <textarea class="form-control" rows="14" name="message" placeholder="Message">Hello! I really like this house, please give me further information about this house please</textarea>
            </div>
            <div class="form-group"><a class="btn btn-primary" role="button" href="registration.html" style="width:400px;">send </a></div>
        </form>
    </div>
    <footer style="background-color:#011d32;padding-top:73px;margin:0;margin-top:85;padding-left:40px;margin-bottom:0px;">
        <div class="container">
            <div class="row" style="margin-right:14px;">
                <div class="col-md-4 col-sm-6 footer-navigation">
                    <h3><a href="#">Unlock</a></h3>
                    <p class="links"><a href="/fa17g01/">Home</a><strong> ·  </strong><a href="https://sfsuse.com/fa17g01/about/">About</a><strong> · </strong><a href="registration.html"> Sign up</a><strong> </strong></p>
                    <p class="company-name">Unlock © 2017 </p>
                </div>
                <div class="col-md-4 col-sm-6 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p><span class="new-line-span">1600 Holloway Ave</span> San Franscisco, CA 94132</p>
                    </div>
                    <div><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left"> 123456789</p>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-4 footer-about">
                    <h4>About the company</h4>
                    <p style="color:rgb(255,255,255);"> Six students from San Francisco State University that gets together to creatte a real estate website that provides houses. </p>
                    <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>