<!DOCTYPE html>

<html>
<head>
  <title>About Unlock</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/fa17g01/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fa17g01/assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
  <link rel="stylesheet" href="/fa17g01/assets/css/Contact-Form-Clean.css">
  <link rel="stylesheet" href="/fa17g01/assets/css/dannyStyle.css">
  <link rel="stylesheet" href="/fa17g01/assets/css/Login-Form-Clean.css">
  <link rel="stylesheet" href="/fa17g01/assets/css/Navigation-Clean1.css">
  <link rel="stylesheet" href="/fa17g01/assets/css/Pretty-Footer.css">
  <link rel="stylesheet" href="/fa17g01/assets/css/Pretty-Search-Form.css">
  <link rel="stylesheet" href="/fa17g01/assets/css/Registration-Form-with-Photo.css">
  <link rel="stylesheet" href="/fa17g01/assets/css/styles.css">
  <!-- Bootstrap CSS -->

</head>
<body>
  <div>
      <div class="disclaimer" style="background-color:#f81717;height:24px;">
          <p class="text-center warning" style="margin-bottom:0px;color:rgb(255,255,255);margin-top:0px;padding-top:2px;">This is a Student project for SFSU CSC 648 section 2 - team 1</p>
      </div>
      <nav class="navbar navbar-default navigation-clean" style="background-color:#003459;height:73px;">
          <div class="container">
              <div class="navbar-header"><a class="navbar-brand" href="/fa17g01/" style="color:#ffffff;font-family:Cookie, cursive;line-height:19px;font-size:33px;font-weight:normal;">Unlock  </a>
                  <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
              </div>
              <div class="collapse navbar-collapse" id="navcol-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li role="presentation"><a href="/fa17g01/about/" class="active nav menu" style="color:#ffffff;">About us</a></li>
                      <li role="presentation"><a href="/fa17g01/agents/" class="active nav menu" style="color:#ffffff;">Inbox </a></li>
                      <li role="presentation"><a href="/fa17g01/login/" class="active nav menu" style="color:#ffffff;">Log in</a></li>
                      <li role="presentation"><a href="/fa17g01/registration/" class="active nav menu" style="color:#ffffff;">Sign Up</a></li>
                  </ul>
              </div>
          </div>
      </nav>
  </div>
  <div class="container">
  
    <main role="main">
      <div>
        <h1></br></h1>
        <h1>About us</h1>
      </div>
      <div>
        <div>Team lead:</div>
        <a href="Sannuj"><button type="button" class="btn btn-info">Sannuj Singhal</button></a>
        <div>Front end lead:</div>
        <a href="Joseph"><button type="button" class="btn btn-info">Joseph Wibowo</button></a>
        <div>Back end lead:</div>
        <a href="Paul"><button type="button" class="btn btn-info">Paul Fontaine</button></a>
        <div>Team front end</div>
        <a href="Danny"><button type="button" class="btn btn-info">Danny Herrera</button></a>
        <div>Team back end</div>
        <a href="Chetan"><button type="button" class="btn btn-info">Johal Gurchetan</button></a>
        <div>Team back end 2</div>
        <a href="Steven"><button type="button" class="btn btn-info">Steven Huynh</button></a>
      </div>
    </main>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>
