<!DOCTYPE html>

<html>
<head>
  <title>csc 648 css using Bootstrap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>


<h1>CSC 648 team 01</h1>
  
  <div>Team lead:</div>
    <a href="aboutSannuj"><button type="button" class="btn btn-info">Sannuj Singhal</button></a>
  <div>Front end lead:</div>
     <a href="aboutJoseph"><button type="button" class="btn btn-info">Joseph Wibowo</button></a>
  <div>Back end lead:</div>
    <a href="aboutPaul"><button type="button" class="btn btn-info">Paul Fontaine</button></a>

  <div>Team front end</div>
  <a href="aboutDanny"><button type="button" class="btn btn-info">Danny Herrera</button></a>

  <div>Team back end</div>
 <a href="aboutChetan"><button type="button" class="btn btn-info">Johal Gurchetan</button></a>

  <div>Team back end 2</div>
 <a href="aboutSteven"><button type="button" class="btn btn-info">Steven Huynh</button></a>



</body>
</html>

