<!DOCTYPE html>
<html>
<head>
  <title>csc 648 css using Bootstrap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <h1>CSC 648 team 01</h1>

  <div>About us</div>
  <a href="/about"><button type="button" class="btn btn-info">About us</button></a>

  <form action="search">
    Search term: <input type="text" name="term"><br>
    <input type="submit" value="search" class="btn btn-success">
  </form>

</body>
</html>
