<!DOCTYPE html>
<html>
<head>
<title>Danny's Webpage</title>
</head>
<body>

<h1>About Daniel Herrera</h1>
<img src="/public/images/Danny.jpg" alt="Danny" <style="width:400px;height:400px;">

<p>Hello, my name Danny Herrera and I am Front-end designer for group 1. </p>

</body>
