<!DOCTYPE html>
<html>
<head>
<title>Steven's about page</title>
</head>

<body>
<h1>About Me (Steven)</h1>

<img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Twemoji2_1f914.svg"
style="width:250px;height:250px">

<p>I'm a senior at SFSU, hopefully graduating this semester (FA17).</p>
<p>Don't want to put a picture of myself online, so I'll use a <code>:thinking:</code> emoticon instead.</p>

<p>P.S. I think this picture is <code>:ok_hand:</code> to use. Found it in Google images under the "Labeled for reuse" section.</p>
</body>
</html>