<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

<h1>Joseph Wibowo Page</h1>
<img src="images/JosephPic.png" style="width:304px;height:325px;">

<p>student in SFSU almost graduating, an aspiring game developer and hope one day I can be a great one.</p>

</body>
</html>
