<!DOCTYPE html>
<html>
<head>
    <title>Sannuj's Webpage</title>
</head>
<body>

<h1>About Sannuj Singhal</h1>
<img src="images/Sannuj.jpg" alt="Sannuj" style="width:400px;height:400px;">
<p>Hello, my name is Sannuj Singhal and I am the Team Lead for Group #1.</p>

</body>
</html>
